* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

:root {
  --main-color: #577cff;
  --second-main-color: #deecf0;

  --main-bg-color: #fff;
  --second-bg-color: #ededed;
  --third-bg-color: #c8c9ca;

  --main-text-color: #000;
  --second-text-color: #fff;
  --third-text-color: #737373;
}

html {
  overflow-x: hidden;
}

body {
  background: var(--second-bg-color);
  color: var(--main-text-color);
  font-size: 0.84rem;
}

section {
  position: relative;
  min-height: 100vh;
  padding: 2rem 5% 1rem;
}

li {
  list-style: none;
}

#tags {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#tags .tag {
  font-size: 0.8rem;
  background: var(--third-bg-color);
  border-radius: 1rem;
  padding: 0% 1rem;
  margin-bottom: 0.6rem;
}

/* section design */
.section {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2rem;
}

/* filter */
.filter {
  background: var(--main-bg-color);
  border-radius: 0.8rem;
  padding: 7% 2rem;
}

.filter .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 1.5rem;
}

.title .clear {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--third-text-color);
  cursor: pointer;
}

.filter h2 {
  font-size: 1.2rem;
}

.filter h3 {
  font-size: 0.9rem;
  margin-bottom: 0.6rem;
}

.filter input {
  margin-bottom: 0.8rem;
}

.filter hr {
  margin: 1rem 0 1rem;
  border: 1.2px solid var(--third-bg-color);
}

input[type="range"] {
  width: 100%;
  height: 6px;
}

/* work */
.work {
  background: var(--main-bg-color);
  border-radius: 0.8rem;
  padding: 1.3rem 1.3rem;
}

.work .search {
  padding: 0 0.8rem 1rem;
}

.search h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.search .search-bar {
  display: flex;
}

.search-bar input {
  padding-left: 1rem;
  border: solid 1px var(--third-text-color);
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.search-bar button {
  background: var(--main-color);
  border-style: none;
  color: var(--second-text-color);
  padding: 0.5rem 0.6rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  cursor: pointer;
}

.search .result {
  font-size: 0.8rem;
  color: var(--third-text-color);
}

.jobs {
  cursor: default;
}

.job-container {
  padding: 0 1.8rem;
}

.jobs .title-block {
  display: flex;
  justify-content: space-between;
}

.title-block h3 {
  font-size: 1.3rem;
  width: 90%;
  cursor: pointer;
}

#bookmark-icon {
  font-size: 1.3rem;
  cursor: pointer;
}

.jobs .job-info {
  font-size: 0.8rem;
  color: var(--third-text-color);
  margin: 0.3rem 0 0.7rem;
}

.jobs .description {
  margin-bottom: 1rem;
  line-height: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  cursor: pointer;
}

.apply-info {
  font-size: 0.8rem;
  display: flex;
  gap: 2rem;
}

.apply-info .text {
  color: var(--third-text-color);
}

.text span {
  color: var(--main-text-color);
}

.jobs hr {
  margin: 1rem 0;
  border: 1.2px solid var(--third-bg-color);
}

/* apply */
.apply-job {
  position: absolute;
  top: 0.1rem;
  left: 100%;
  right: 0;
  width: 0%;
  height: 90%;
  background: var(--main-bg-color);
  border-radius: 1rem;
  padding: 2rem 3%;
  overflow-y: scroll;
  transition: 0.3s;
}

.apply-job .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.top i {
  font-size: 1.4rem;
}

.top a,
.top a i {
  color: var(--main-color);
  font-size: 1rem;
  padding-right: 0.4rem;
}

.info {
  border: 1px solid var(--third-bg-color);
  padding: 1.8rem;
}
.info.one {
  grid-area: one;
  border-top-left-radius: 1rem;
}
.info.two {
  grid-area: two;
}
.info.three {
  grid-area: three;
  border-top-right-radius: 1rem;
  display: flex;
  flex-direction: column;
}
.info.four {
  grid-area: four;
}
.info.five {
  grid-area: five;
}
.info.six {
  grid-area: six;
}
.info.seven {
  grid-area: seven;
}
.info.eight {
  grid-area: eight;
  border-bottom-right-radius: 1rem;
}
.info.nine {
  grid-area: nine;
  border-bottom-left-radius: 1rem;
}

.all-job-information {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 0.8fr 0.5fr 0.5fr 1fr;
  grid-template-areas:
    "one three"
    "two three"
    "two six"
    "four six"
    "five six"
    "seven eight"
    "nine eight";
  border-radius: 1.5rem;
  padding: 0;
}

.info h4 {
  font-size: 1rem;
}

.info.one h3 {
  font-size: 1.5rem;
  margin-bottom: 4rem;
}

.info.one h4 {
  color: var(--main-color);
}

.info.two a {
  color: var(--main-color);
  font-weight: 800;
}

.info.three .btn.apply {
  background: var(--main-color);
  color: var(--second-text-color);
  border: none;
  border-radius: 1rem;
  height: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.info.three .btn.save {
  background: var(--main-bg-color);
  color: var(--main-color);
  border: 2px solid var(--main-color);
  border-radius: 2rem;
  height: 2rem;
  font-weight: 500;
}

.info.three .btn:hover {
  transform: scale(1.05);
  transition: 0.4s;
  box-shadow: 0 0 0.4rem var(--main-color);
}

.info.four {
  display: flex;
  justify-content: start;
  align-items: baseline;
}

.info.four .box {
  width: 40%;
}

.info.six h4,
.info.seven h4,
.info.nine h4 {
  margin-bottom: 1rem;
}

/* FOR TABLET */
@media (max-width: 950px) {
  body {
    background-color: #295dc5;
  }

  .filter {
  }
}
