* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

:root {
  --main-color: #577cff;
  --second-main-color: #deecf0;

  --main-bg-color: #fff;
  --second-bg-color: #ededed;
  --third-bg-color: #c8c9ca;
  --fourth-bg-color: #dfdfdf;

  --main-text-color: #000;
  --second-text-color: #fff;
  --third-text-color: #737373;
}

body {
  background: var(--second-bg-color);
  color: var(--main-text-color);
  font-size: 0.84rem;
}

.wrapper {
  min-height: 100vh;
  padding: 2rem;
  background-color: var(--second-bg-color);
}

.wrapper .section {
  display: flex;
}

/* title block */
.section .title-block {
  width: 40%;
  max-height: 130vh;
  padding: 6% 0;
  background-color: var(--main-bg-color);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.title-block h1 {
  font-size: 2.3rem;
  width: 100%;
  padding-left: 2rem;
}

.title-block .title-container {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.title-container .title {
  width: 100%;
  font-size: 0.9rem;
  height: 2.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* info block */
.section .info-block {
  padding: 1rem;
  width: 100%;
  max-height: 130vh;
  background-color: var(--main-bg-color);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: inset 3px 0 10px var(--second-bg-color);
}

.info-block h2 {
  text-align: center;
  padding: 3rem;
  font-size: 1.7rem;
}

.info-block .info-container {
  padding: 0 2.5rem 2.5rem;
  height: 80vh;
  text-align: justify;
  overflow-y: scroll;
}

.info-container p {
  font-size: 0.9rem;
  text-indent: 15px;
  margin-bottom: 1rem;
}

a {
  color: var(--main-color);
  font-weight: 600;
}

/* Break Point 1 */
@media (max-width: 825px) {
  .section .title-block {
    width: 50%;
  }
}

/* Break Point 2 */
@media (max-width: 742px) {
  .section .title-block {
    width: 60%;
  }
}
