@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
.errors {
    margin-left:1.5rem;
    font-family: monospace;
    color :red;
  }
@media (max-width:3000px){
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
}

:root {
    --main-color: #4268f5;
    --third-main-color:#1f4be7;
    --second-main-color: #deecf0;
    --main-bg-color: #fff;
    --second-bg-color: #ededed;
    --third-bg-color: #c8c9ca;
    --main-text-color: #000;
    --second-text-color: #fff;
    --third-text-color: #737373;
}
body {
    background: var(--main-bg-color);
    color: var(--main-text-color);
}
.wrapper {
    background-color: var(--third-bg-color);
    margin-bottom: 1rem;
}
.Postajob-wrap {
    border: 1px solid rgba(128, 128, 128, 0.438);
    border-radius: 11px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    margin: 1.5rem auto;
    background-color: var(--main-bg-color);

    height: 165vh;
    width: 1150px;
}

.Postajob-wrap h1 {
    margin: 1.5rem;
    font-size: 1.9rem;
    font-weight: 400;
    font-family: monospace;
}

.Postajob-form {
    border-radius: 11px;
    margin: 1.3rem 1.5rem;
    height: 500px;
}

label {

    font-size: 0.9rem;
    font-size: 1.1rem;
    font-weight: 300;
}

select,input {
    height: 41px;
    padding: 0.5rem;
    font-size: 1rem;
    width: 400px;
    height: 45px;
    color: var(--third-text-color);
}

textarea {
    padding: 0.5rem;
    font-size: 1rem;
    width:550px;
    height: 100px;
    color: var(--third-text-color);
}

#job-title-alert,#job-position-alert,#job-desc-alert,#job-payment-alert,#job-proposal-alert,#deadline-alert
 {
    color: red;
    font-size: .82rem;
    display:none;
    flex-direction: column;
}

.display {
    padding-top: 10px;
    padding-bottom: 10px;
}
.buttons {
    display: flex;
    justify-content: flex-end;
}
.btn {
    padding: 0.45rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 11px;
} 

.go {
    padding: 0.45rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 11px;
    margin-right: 2.5rem;
    background-color: var(--main-color);
    color: var(--second-text-color);
    border: none;
    width: 145px;
}

.go:hover {
    background-color: var(--third-main-color);
}

.clear {
    padding: 0.45rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 11px;
    border:1px solid black;
    margin: 0px 1.4rem;
    width: 125px;
    background-color: var(--second-text-color);
    color: #062492;
    
}

.clear:hover {
    background-color: var(--third-bg-color);
    color: var(--main-text-color);
}
}

@media (max-width : 1200px ){
    .Postajob-wrap {
        border: 1px solid rgba(128, 128, 128, 0.438);
        border-radius: 11px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    
        margin: 1.5rem auto;
        background-color: var(--main-bg-color);
        height: 140vh;
        width: 900px;
    }
    .Postajob-wrap h1 {
        margin: 1.5rem;
        font-size: 1.4rem;
        font-weight: 400;
    }
    select,input {
        height: 41px;
        padding: 0.5rem;
        font-size: 1rem;
        width: 350px;
        height: 35px;
        color: var(--third-text-color);
    }
    textarea {
        padding: 0.5rem;
        font-size: 1rem;
        width:450px;
        height: 85px;
        color: var(--third-text-color);
    }

        
}

@media(max-width:900px){

    .Postajob-wrap {
        border: 1px solid rgba(128, 128, 128, 0.438);
        border-radius: 11px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    
        margin: 1.5rem auto;
        background-color: var(--main-bg-color);
        height: 125vh;
        width: 700px;
    }
    .Postajob-wrap h1 {
        margin: 1.5rem;
        font-size: 1.4rem;
        font-weight: 400;
    }
    select,input {
        height: 41px;
        padding: 0.5rem;
        font-size: 1rem;
        width: 350px;
        height: 35px;
        color: var(--third-text-color);
    }
    textarea {
        padding: 0.5rem;
        font-size: 1rem;
        width:450px;
        height: 85px;
        color: var(--third-text-color);
    }

}
@media (max-width:550px){
    .Postajob-wrap {
        border: 1px solid rgba(128, 128, 128, 0.438);
        border-radius: 11px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    
        margin: 1.5rem auto;
        background-color: var(--main-bg-color);
        height: 110vh;
        width: 400px;
    }
    .Postajob-wrap h1 {
        margin: 1.5rem;
        font-size: 1.4rem;
        font-weight: 400;
    }
    select,input {
        height: 41px;
        padding: 0.5rem;
        font-size: 1rem;
        width: 280px;
        height: 35px;
        color: var(--third-text-color);
    }
    textarea {
        padding: 0.5rem;
        font-size: 1rem;
        width:290px;
        height: 100px;
        color: var(--third-text-color);
    }

}