@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

:root {
    --main-color: #577CFF;
    --second-main-color: #deecf0;
    --main-bg-color: #fff;
    --second-bg-color: #ededed;
    --third-bg-color: #c8c9ca;
    --main-text-color: #000;
    --second-text-color: #fff;
    --third-text-color: #737373;
}

/* body {
}
 */
.job-status {
    background-color: var(--main-bg-color);
    margin: 15px auto;
    max-width: 1200px;
    /* max-height: 650px; */
    border-radius: 11px;
    padding: 10px 15px;

    display: flex;
    flex-direction: column;

}


.job-description  {
    border-bottom: 1px solid rgb(213, 213, 213);
    padding: 0 0.8rem;
    padding-bottom: 20px;
    text-align: justify;
}

.job-info {
    padding: 0 0.8rem;
    border-bottom: 1px solid rgb(213, 213, 213);
    padding-bottom: 20px;
}

.edit-delete {
    padding: 0.8rem;
    padding-bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}


.left-container {
    font-size: 0.95rem;
    /* width: 25%; */
}

.applicants {
    
    height: 500px;
    padding: 15px 25px;
    border-left: 1px solid rgb(213, 213, 213);

    overflow-y: auto;
    box-sizing: content-box;
    scrollbar-width: none;
}


.main-content {
    display: grid;
    grid-template-columns: 25% 75%;

   border: var(--third-bg-color) 1px solid; 
   padding: 10px 15px;
   padding-bottom: 2px;
   border-radius: 11px;
}

 @media (max-width: 600px) {
    .main-content {
      grid-template-columns: 100%;
    }
    .searchSort {
        display:flex;
        justify-content: space-between;
    }
    .job-sea {
        width: 35%;
    }
    /* .applicants {

    } */
  } 

/* buttons style */


.edit button, .delete button {
   color: var(--main-bg-color);
   font-weight: 500;
   border-radius: 20px;
   padding: 5px 20px;
   font-size: 15px;
   
   border: 3px solid var(--main-color);

   cursor: pointer;
}

.delete button {
   background-color: var(--main-color);
}

.delete button:hover {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-weight: 300;
}

.edit button {
   color: #577CFF;
   margin-right: 15px;
   width: 102px;
   border: 3px solid #577cff;
   background-color: transparent;
}

.edit button:hover {
   background-color: var(--main-color);
   color: var(--main-bg-color);
}

/* buttons style end */

.job-status h1 {
    font-size: 1.7rem;
    font-weight: 400;

    margin-bottom: 25px;
    margin-top: -10px;
}

.job-status h3 {
    font-size: 1.2rem;
    font-weight: 450;

    margin-bottom: 0.8rem;
}

.job-info h3 {
    margin-bottom: 0.4rem;
        padding-top: 10px;
}

.job-title h3 {
    margin-top: 1.1rem;
    font-size: 1.5rem;
    font-weight: 400;

    margin-bottom: 1rem;
    padding-bottom: 25px;
    border-bottom: 1px solid rgb(213, 213, 213);
}

.job-status p {
    font-weight: 300;
    color: var(--main-color);
}

.job-info span, .tokens {
    font-size: 0.85rem;
    font-weight: 300;

    margin-bottom: 0.8rem;
}

.job-info span .content, .tokens span {
    color: var(--main-color);
}

/* Applicants style */

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75%;
}

.navigation .links {
    display: flex;
    font-size: 0.9rem;
    gap: 2rem;
}


.links a {
    color: var(--main-text-color);
    font-weight: 400;
}

.links a span {
    color: var(--main-color);
}

.navigation .links a::after {
    content: "";
    position: absolute;
    background: var(--main-color);
    left: 0;
    height: 2px;
    width: 0;
    bottom: -13px;
    transition: 0.1s;
}

.navigation .links a:hover,
.navigation .links .active {
    color: var(--main-color);
}

.navigation .links a:hover::after,
.navigation .links .active::after {
    width: 100%;
}


/* search and sort design */

.searchSort {
    display: flex;
    margin-top: 1.5rem;
}

.search {
    display: flex;
    padding: 0.2rem;
}

.search input {
    height: 27.5px;
    width: 250px;
    border: 0.5px solid var(--main-color);
    border-radius: 2px;
}

.search-img {
    margin-left: -3.5px;
    margin-top: -2.3px;
}

.sort {
    margin-left: 250px;
    display: flex;
}

.sort select {
    height: 27.5px;
    width: 200px;
    margin-left: 5px;

    font-size: 0.9rem;
    font-weight: 380;

    background-color: transparent;
    border-radius: 2px;
    border: 1px var(--main-color) solid;
    padding-left: 10px;
}

.search input {
    padding-left: 10px;
}

.sort label {
    margin-top: 4.8px;
    font-size: 0.85rem;
    font-weight: 350;
}

/* profile style */

.profile-wrapper {
    display: flex;
    
    flex-direction: column;
}

.job{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #0337f3;
    margin-bottom: 1rem ;
}
.job-profile-header .name{
    font-family: sans-serif;
    font-size: 1.2rem;
    text-decoration: underline;
    padding:.5rem;
}
.job-profile-body .desc{
    
    padding: 1rem;
    font-family: serif;
    font-size: 1rem;

}
.job-profile-body .Other{
    display: flex;
    padding-left: 1rem;
    
}
.job-profile-body .Other span {
    background-color: var(--second-text-color);
    border-radius: 11px;
    padding: 0.35rem;
    margin-left: 1rem;
    font-size:1rem;
    display: flex;
}
.job-profile-body .Other span:hover{
    background-color: var(--second-main-color);
}
.job {
    /* margin: 5px; */
    border-bottom: 1px solid rgb(213, 213, 213);
    padding: 0.5rem;
    background-color: rgb(217, 228, 231);
    border-radius: 11px;
}

.job:hover {
    background-color: rgb(185, 232, 247);
    border-radius: 11px;
}


/* photo style */

.photo {
    display: flex;
    z-index: 1;
    margin-top: 15px;
}

.photo img {
    border-radius: 50%;
    border: 2px solid var(--main-color);
}
  

/* profile info style */
.profile-info {
    font-size: 0.8rem;
    font-weight: 300;

    margin-top: 15px;
    margin-left: 20px;
}

.profile-info .name {
    color: var(--main-color);
    margin: 1rem;
    /* margin-bottom: 5px; */
    font-weight: 400;
}


/* media style */
/* 
@media (max-width: 700px) {
    .profile-header .profile-info, .profile-header .actions, .profile-header .like, .profile-header .dislike, .profile-header .message, .profile-header .hire {
        margin: 0px;
        padding: 0px;
    }

    .profile-header .actions {
    }
} */

/* actions style */

@media (max-width: 1200px) {

    .left-container {
        font-size: 0.75rem;
        /* width: 25%; */
    }

    .edit button, .delete button {

        margin-right: 5px;
        width: 80px;
        height: 40px;
        font-size: 0.65rem;
        border: 1px solid #577cff;
     }
     
    .profile-header .profile-info, .profile-header .actions, .profile-header .like, .profile-header .dislike, .profile-header .message, .profile-header .hire {
        margin: 0px;
        padding: 0px;
    }

    .profile-header .actions {
        margin-top: 0.8rem;
    }

    .navigation .links {
        font-size: 0.9rem;
        gap: 150px;
        margin-top: 0.5rem;
    }

    .search input {
        height: 24px;
        width: 135px;
        font-size: 0.75rem;
    }

    
.sort {
    margin-left: -15px;
}

.sort select {
    height: 25px;
    width: 135px;

    font-size: 0.75rem;
    margin-top: 0.2rem;
}
}

@media (max-width: 530px) { /* less than 450*/
    .profile-header .profile-info, .profile-header .actions, .profile-header .like, .profile-header .dislike, .profile-header .message, .profile-header .hire {
        margin: 0px;
        padding: 0px;
    }

    .profile-header .actions {
        margin-top: 0.8rem;
    }

    .navigation .links {
        font-size: 0.9rem;
        gap: 7rem;
        margin-top: 0.5rem;
    }

    .search input {
        height: 24px;
        width: 135px;
        font-size: 0.75rem;
    }

    
.sort {
    margin-left: -15px;
}

.sort select {
    height: 25px;
    width: 135px;

    font-size: 0.75rem;
    margin-top: 0.2rem;
}

.edit button, .delete button {
    margin-right: 55px;
 }
}



.actions {
    display: flex;
    padding: 10px;
    margin: 15px;
    margin-left: 250px;
}

.actions .like, .actions .dislike {
    margin-right: 20px;
    border-radius: 50%;
    border: 1.7px solid var(--main-color);
    height: 22px;
    width: 22px;
    margin-top: 4px;
    padding: 1px;
}

.actions .like:hover, .actions .dislike:hover {
    border: 2px solid #0337f3;
}

.actions .message, .actions .hire {
   color: var(--main-bg-color);
   font-weight: 400;
   border-radius: 20px;
   padding: 5px 10px;
   font-size: 12px;
   border: 2px solid #577cff;

   width: 82px;
   height: 30px;
   cursor: pointer;
}

.actions .message {
    margin-right: 20px;
    background-color: transparent;
    color: var(--main-color);
}

.actions .hire {
    background-color: var(--main-color);
}

.actions .message:hover {
    background-color: var(--main-color);
    color: var(--main-bg-color);
}

.actions .hire:hover {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

/* profile body style */

.body {
    margin: 5px;
    margin-left: 90px;

    margin-top: 15px;
}

.body .price {
    font-size: 0.8rem;
    font-weight: 300;
    margin-bottom: 5px;
}

.body .price .bir {
    color: var(--main-color);
    font-weight: 600;
}

.body .cover-letter span {
    font-size: 0.8rem;
    font-weight: 300;
}

.body .cover-letter .cover-letter-content {

    color: var(--main-color);
}

.rating span {
    font-size: 0.9rem;
    font-weight: 300;
}

.rating .rate {
    color: var(--main-color);
}

.rating .five {
    font-size: 0.65rem;
}

.rating span img {
    margin-bottom: -5px;
}

