@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

:root {
    --main-color: #577CFF;
    --second-main-color: #deecf0;
    --main-bg-color: #fff;
    --second-bg-color: #ededed;
    --third-bg-color: #c8c9ca;
    --main-text-color: #000;
    --second-text-color: #fff;
    --third-text-color: #737373;
}

body {
    background-color: var(--second-bg-color);
}

/* Section Css */
.section {
    background-color: var(--main-bg-color);
    margin: 16px auto;
    max-width: 857px;
    padding: 20px 46px;
    border-radius: 11px;
}

.line {
    width: 700px;
    height: 0px;

    margin: 20px auto;
} 

hr {
    border: 1.2px solid var(--third-bg-color);
    margin-bottom: 14px;
}

/* Job Container CSS */

.job-container .job-header h1 {
    font-size: 33px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;

    margin: 0px auto 20px;
}

.job-title {
    display: flex;
    justify-content: space-between;
}

.job-container .delete-job {
    cursor: pointer;
}


.job-title h3 {
    font-size: 19px;
    font-weight: 600;
    line-height: 22px;

    margin-top: 4px;
    margin-bottom: 4px;

    cursor: pointer;
}

.job-info {
    margin-bottom: 10px;
}

.job-info span {
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    color: #737373;
}

.job-info .content {
    color: #1E1E1E;
}

.job-description {
    margin-bottom: 14px;
    cursor: pointer;
}

.job-description p {
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    color: var(--main-text-color);
}

.tags {
    display: flex;
    margin-bottom: 9px;
    gap: 1rem;  
}

.tags .tag {
    background: var(--third-bg-color);
    border-radius: 1rem;
    padding: 0% 1rem;
    color: #292929;
}

.time {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.7rem;
}

.proposal, .tokens {
    font-size: 10px;
    font-weight: 400;
    line-height: 11.7px;
    color: #737373;
}

.time span {
    color: #1E1E1E;
}


/* Pagination CSS */

.pagination {
    display: flex;
    justify-content: center;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.pagination li {
    margin-right: 10px;
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #f2f2f2;
}
  
.pagination li:last-child {
    margin-right: 0;
}
  
.pagination li:hover,
.pagination li.active {
    background-color: var(--third-bg-color);
    color: #fff;
}


.apply-info {
    display: flex;
    gap: 2rem;
}

.apply-info .text {
    color: var(--third-text-color);
}

.text span {
    color: var(--main-text-color);
}

.jobs hr {
    margin: 1rem 0;
    border: 1.2px solid var(--third-bg-color);
}


/* apply job CSS */

.apply-job {
    position: absolute;
    top: 6.3rem;
    left: 100%;
    right: 0;
    width: 0%;
    height: 100%;
    background: var(--main-bg-color);
    border-radius: 1.5rem;
    padding: 3rem 3%;
    overflow-y: scroll;
    transition: 0.3s;
}

.apply-job .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.top i {
    font-size: 2rem;
}

.top a,
.top a i {
    color: var(--main-color);
    font-size: 1.3rem;
}

.info {
    border: 1px solid var(--third-bg-color);
    padding: 2.4rem;
}

.info.one {
    grid-area: one;
    border-top-left-radius: 1.5rem;
}

.info.two {
    grid-area: two;
}

.info.three {
    grid-area: three;
    border-top-right-radius: 1.5rem;
    display: flex;
    flex-direction: column;
}

.info.four {
    grid-area: four;
}

.info.five {
    grid-area: five;
}

.info.six {
    grid-area: six;
}

.info.seven {
    grid-area: seven;
}

.info.eight {
    grid-area: eight;
    border-bottom-right-radius: 1.5rem;
}

.info.nine {
    grid-area: nine;
    border-bottom-left-radius: 1.5rem;
}

.all-job-information {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas: "one three" "two three" "two six" "four six" "five six" "seven six" "seven eight" "nine eight";
    border-radius: 1.5rem;
    padding: 0;
}

.info h4 {
    font-size: 1.5rem;
}

.info.one h3 {
    font-size: 2.3rem;
    margin-bottom: 4rem;
}

.info.one h4 {
    color: var(--main-color);
}

.info.two p {
    font-size: 1.2rem;
}

.info.two a {
    color: var(--main-color);
    font-weight: 800;
}

.info.three .apply-btn {
    background: var(--main-color);
    color: var(--second-text-color);
    border: none;
    border-radius: 2rem;
    height: 3rem;
    margin-bottom: 1rem;
}

.info.three .delete-btn {
    background: var(--main-bg-color);
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 2rem;
    height: 3rem;
}

.info.four {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

.info.seven h4 {
    margin-bottom: 1rem;
}