* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

:root {
  --main-color: #295dc5;
  --second-main-color: #deecf0;

  --main-bg-color: #fff;
  --second-bg-color: #ededed;
  --third-bg-color: #c8c9ca;

  --main-text-color: #000;
  --second-text-color: #fff;
  --third-text-color: #737373;
}

body {
  background: var(--main-bg-color);
  color: var(--main-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
}

.left {
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  width: 50%;
  height: 764px;
  left: 0px;
  top: 0px;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  
  position: absolute;
  width: 50%;
  height: max-content;
  left: 50%;
  top: 0px;
}

.left .content .back-btn {
  background-color: transparent;
  border: none;
  position: relative;
  top: -55px;
  left: -90px;
}

.left .content .logo-image .logo {
  animation: MoveUpDown 3s linear infinite;
}

.left .content .logo-image {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    bottom: 60px;
}

.left .content .text-content{
  position: relative;
  bottom: 75px;
  right: -15px;
  color: var(--second-text-color);
  font-weight: 400;
  margin: 0.2rem;

  width: 500px;
  height: 76px;
}

.text-content h2 {
  font-weight: 400;
  font-size: 1.6rem;
}

.text-content h4 {
  margin-top: 10px;
  font-weight: 400;
}

.sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 60px;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  background-color: var(--third-bg-color);
  width: 319px;
  height: 41px;
  top: 305px;
  left: 800px;
  border-radius: 8px;
  
  margin: 5px;
  margin-bottom: 1rem;
  padding: 0.5rem;

  font-size: 1rem;
  border: 1px solid #ccc;
} 

#email, #password, #confirm-password {
  width: 500px;
}

#fname, #lname, #username {
  width: 245px;
}

#username {
  position: relative;
  top: 0px;
  left: -127px;
}

#privacy-policy {
  width: 50px;
  height: 17px;
  margin-right: -0.7rem;

  display: flex;
  
}

.sign-up-form h3 {
  position: absolute;
  top: 620px;
  right: 150px;
  color: var(--main-text-color);
 }

.sign-up-form h3>a:hover {

}

.privacy-policy {
  display: flex;
  position: relative;
  left: 0px;
}

.privacy-policy p {
  font-size: 0.7rem;
}

.privacy-policy em {
  color: var(--third-text-color);
  font-size: 0.7rem;
}

.sign-up button {
  background-color: var(--main-color);
  padding: 5px;
  border-radius: 0.5rem;
  width: 500px;
  height: 41px;
  font-size: 1.3rem;
  color: var(--second-text-color);

  font-weight: 500;
  margin-top: 1rem;
}

.sign-up h1, p {
  margin: 5px;
}

.sign-up h1 {
  font-size: 1.9rem;
  font-weight: 400;
}

.sign-up p {
  margin-bottom: 1.2rem;
}

.sign-up .name {
  display: flex;
  flex-direction: row;
}


#country {
  width: 500px;
  height: 41px;
  background-color: var(--third-bg-color);
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
}

@keyframes MoveUpDown {
  0%,
  100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-30px);
  }
}